<article>
    <header>
        <h1><%= error.status %> - <%= title %></h1>
    </header>

    <p><%= error.message %></p>

    <footer>
        <a href="/" role="button">메인 페이지로 돌아가기</a>
    </footer>
</article>